@font-face {
    font-family: terminal;
    src: url(TerminalVector.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--iconColor);
    font-family: terminal;
}

:root{
    --bg:#000000;
    --iconColor:#0F6292;
    --selectColor:#16FF00;
    --highlightColor:#FFED00;
    --taskBarColor:rgba(255, 255, 255, 0.1);
}

.desktop{
    gap: 10px;
    width: 100dvw;
    height: 100dvh;
    background: var(--bg);
    padding: 10px;
}
.desktopLeft{
    padding-left: 60px;
}
.desktopRight{
    padding-right: 60px;
}
.desktopTop{
    padding-top: 60px;
}
.desktopBottom{
    padding-bottom: 60px;
}
.folderSpace{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.folderSpace>.folder{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    aspect-ratio: 1/1;
    justify-content: center;
    padding: 10px 0;
    gap: 5px;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    /* border: 1px solid white; */
}
.folderSpace>.folder:hover{
    background: var(--taskBarColor);
    cursor: pointer;
}
.folderSpace>.folder>ion-icon{
    font-size: 2.25em;
}
.folderSpace>.folder>p{
    width: 100%;
    padding: 0 5px;
    text-align: center;
    font-size: 0.75em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taskBar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--taskBarColor);
    transition: 0.5s ease-in-out;
}
.taskBar>.recentTray{
    width: 100%;
    height: 100%;
}
.taskBar ion-icon{
    color: var(--iconColor);
    font-size: 1.75em;
    padding: 10px;
    transition: 0.5s ease-in-out;
}
.taskBar ion-icon:hover{
    background: var(--taskBarColor);
    color: var(--bg);
    cursor: pointer;
}
.taskBar>ion-icon{
    background: var(--iconColor);
    color: var(--bg);
}
.taskBar.taskBarBottom{
    bottom:0;
    height: 50px;
    width: 100dvw;
}
.taskBar.taskBarTop{
    top:0;
    height: 50px;
    width: 100dvw;
}
.taskBar.taskBarLeft{
    top: 0;
    left:0;
    height: 100dvh;
    width: 50px;

    flex-direction: column;
}
.taskBar.taskBarRight{
    top:0;
    right:0;
    height: 100dvh;
    width: 50px;
    flex-direction: column;
}